.comment-indent {
  margin-left: 40px;
}

.vote-up {
  height: 40px;
  width: 60px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.vote-down {
  height: 40px;
  width: 60px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.del {
  height: 40px;
  width: 60px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.vote-delete {
  display: inline-block;
}

footer {
  text-align: center;
  padding: 30px;
}
